{
  "root": true,
  "extends": ["@guanghechen", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/no-named-as-default": 0
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "requireConfigFile": false,
        "allowImportExportEverywhere": true
      }
    },
    {
      "files": ["**/*.ts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "prettier"],
      "rules": {
        "import/no-named-as-default": 0
      }
    },
    {
      "files": [
        "**/__test__/*.spec.ts",
        "**/__test__/util.ts",
        "**/__test__/*.util.ts",
        "jest.setup.ts"
      ],
      "extends": ["@guanghechen", "@guanghechen/ts", "plugin:jest/recommended", "prettier"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": 0,
        "import/no-extraneous-dependencies": 0,
        "jest/expect-expect": 0
      }
    },
    {
      "files": ["**/__test__/oj/*.ts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "prettier"],
      "rules": {
        "no-plusplus": 0,
        "no-return-assign": 0,
        "no-param-reassign": 0
      }
    }
  ]
}
