**/*.*
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.json
!.eslintignore
!.eslintrc

**/.vscode/
**/__tmp__/
**/__test__/cases/
**/__test__/fixtures/
**/coverage/
**/demo/
**/dist/
**/doc/
**/example/
**/lib/
**/node_modules/
**/resource/
**/resources/
**/test/
**/*.styl.d.ts
