.DS_Store
.eslintignore
.prettierignore
README.md
pnpm-lock.yaml

**/*.hbs

**/resource
!packages/resource

**/coverage/
**/dist/
**/doc/
**/lib/
**/node_modules/
**/resource/
**/spec/
**/__test__/cases/
**/__test__/fixtures/
